iMeter.Core/Service References/Esam645Service/EsamService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="htpp://gwkm.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="htpp://gwkm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="htpp://gwkm.com/Imports">
      <xsd:import schemaLocation="http://219.134.129.206:2004/EsamService?xsd=xsd0" namespace="htpp://gwkm.com" />
      <xsd:import schemaLocation="http://219.134.129.206:2004/EsamService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://219.134.129.206:2004/EsamService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEsamOption_Connection_InputMessage">
    <wsdl:part name="parameters" element="tns:Connection" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Connection_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_IsOpenedDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:IsOpenedDevice" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_IsOpenedDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsOpenedDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_ConnectDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectDevice" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_ConnectDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_ConnectDevice_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q1:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_OpenDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenDevice" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_OpenDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_OpenDevice_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q2:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_CloseDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseDevice" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_CloseDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_CloseDevice_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q3:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Tools_CreateRand_InputMessage">
    <wsdl:part name="parameters" element="tns:Tools_CreateRand" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Tools_CreateRand_OutputMessage">
    <wsdl:part name="parameters" element="tns:Tools_CreateRandResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Tools_CreateRand_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q4:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_IdentityAuthentication_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_IdentityAuthentication" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_IdentityAuthentication_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_IdentityAuthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_IdentityAuthentication_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q5:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_UserControl_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_UserControl" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_UserControl_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_UserControlResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_UserControl_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q6:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_ParameterUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_ParameterUpdate" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_ParameterUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_ParameterUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_ParameterUpdate_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q7:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_ParameterUpdate1_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_ParameterUpdate1" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_ParameterUpdate1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_ParameterUpdate1Response" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_ParameterUpdate1_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q8:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_ParameterUpdate2_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_ParameterUpdate2" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_ParameterUpdate2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_ParameterUpdate2Response" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_ParameterUpdate2_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q9:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_ParameterElseUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_ParameterElseUpdate" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_ParameterElseUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_ParameterElseUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_ParameterElseUpdate_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q10:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_InCreasePurse_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_InCreasePurse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_InCreasePurse_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_InCreasePurseResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_InintPurse_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_InintPurse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_InintPurse_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_InintPurseResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_InintPurse_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q11:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_DataClear1_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_DataClear1" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_DataClear1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_DataClear1Response" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_DataClear1_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q12:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_DataClear2_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_DataClear2" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_DataClear2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_DataClear2Response" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_DataClear2_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q13:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_InfraredAuth_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_InfraredAuth" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_InfraredAuth_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_InfraredAuthResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_InfraredAuth_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q14:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_MacCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_MacCheck" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_MacCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_MacCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_MacCheck_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q15:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_EncMacWrite_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_EncMacWrite" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_EncMacWrite_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_EncMacWriteResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_EncMacWrite_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q16:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_MacWrite_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_MacWrite" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_MacWrite_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_MacWriteResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_MacWrite_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q17:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_EncForCompare_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_EncForCompare" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_EncForCompare_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_EncForCompareResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_EncForCompare_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q18:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_DecreasePurse_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_DecreasePurse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_DecreasePurse_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_DecreasePurseResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_DecreasePurse_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q19:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_Preset_Card_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_Preset_Card" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_Preset_Card_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_Formal_Preset_CardResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_Formal_Preset_Card_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q20:EsamException" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_ReadPreset_Card_InputMessage">
    <wsdl:part name="parameters" element="tns:Meter_ReadPreset_Card" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_ReadPreset_Card_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meter_ReadPreset_CardResponse" />
  </wsdl:message>
  <wsdl:message name="IEsamOption_Meter_ReadPreset_Card_EsamExceptionFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" name="detail" element="q21:EsamException" />
  </wsdl:message>
  <wsdl:portType name="IEsamOption">
    <wsdl:operation name="Connection">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Connection" message="tns:IEsamOption_Connection_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/ConnectionResponse" message="tns:IEsamOption_Connection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsOpenedDevice">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/IsOpenedDevice" message="tns:IEsamOption_IsOpenedDevice_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/IsOpenedDeviceResponse" message="tns:IEsamOption_IsOpenedDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectDevice">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/ConnectDevice" message="tns:IEsamOption_ConnectDevice_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/ConnectDeviceResponse" message="tns:IEsamOption_ConnectDevice_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/ConnectDeviceEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_ConnectDevice_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenDevice">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/OpenDevice" message="tns:IEsamOption_OpenDevice_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/OpenDeviceResponse" message="tns:IEsamOption_OpenDevice_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/OpenDeviceEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_OpenDevice_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseDevice">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/CloseDevice" message="tns:IEsamOption_CloseDevice_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/CloseDeviceResponse" message="tns:IEsamOption_CloseDevice_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/CloseDeviceEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_CloseDevice_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Tools_CreateRand">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Tools_CreateRand" message="tns:IEsamOption_Tools_CreateRand_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Tools_CreateRandResponse" message="tns:IEsamOption_Tools_CreateRand_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Tools_CreateRandEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Tools_CreateRand_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_IdentityAuthentication">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_IdentityAuthentication" message="tns:IEsamOption_Meter_Formal_IdentityAuthentication_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_IdentityAuthenticationResponse" message="tns:IEsamOption_Meter_Formal_IdentityAuthentication_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_IdentityAuthenticationEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_Formal_IdentityAuthentication_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_UserControl">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_UserControl" message="tns:IEsamOption_Meter_Formal_UserControl_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_UserControlResponse" message="tns:IEsamOption_Meter_Formal_UserControl_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_UserControlEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_Formal_UserControl_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_ParameterUpdate">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_ParameterUpdate" message="tns:IEsamOption_Meter_Formal_ParameterUpdate_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_ParameterUpdateResponse" message="tns:IEsamOption_Meter_Formal_ParameterUpdate_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_ParameterUpdateEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_Formal_ParameterUpdate_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_ParameterUpdate1">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_ParameterUpdate1" message="tns:IEsamOption_Meter_Formal_ParameterUpdate1_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_ParameterUpdate1Response" message="tns:IEsamOption_Meter_Formal_ParameterUpdate1_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_ParameterUpdate1EsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_Formal_ParameterUpdate1_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_ParameterUpdate2">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_ParameterUpdate2" message="tns:IEsamOption_Meter_Formal_ParameterUpdate2_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_ParameterUpdate2Response" message="tns:IEsamOption_Meter_Formal_ParameterUpdate2_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_ParameterUpdate2EsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_Formal_ParameterUpdate2_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_ParameterElseUpdate">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_ParameterElseUpdate" message="tns:IEsamOption_Meter_Formal_ParameterElseUpdate_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_ParameterElseUpdateResponse" message="tns:IEsamOption_Meter_Formal_ParameterElseUpdate_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_ParameterElseUpdateEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_Formal_ParameterElseUpdate_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_InCreasePurse">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_InCreasePurse" message="tns:IEsamOption_Meter_Formal_InCreasePurse_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_InCreasePurseResponse" message="tns:IEsamOption_Meter_Formal_InCreasePurse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_InintPurse">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_InintPurse" message="tns:IEsamOption_Meter_Formal_InintPurse_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_InintPurseResponse" message="tns:IEsamOption_Meter_Formal_InintPurse_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_InintPurseEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_Formal_InintPurse_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_DataClear1">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_DataClear1" message="tns:IEsamOption_Meter_Formal_DataClear1_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_DataClear1Response" message="tns:IEsamOption_Meter_Formal_DataClear1_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_DataClear1EsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_Formal_DataClear1_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_DataClear2">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_DataClear2" message="tns:IEsamOption_Meter_Formal_DataClear2_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_DataClear2Response" message="tns:IEsamOption_Meter_Formal_DataClear2_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_DataClear2EsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_Formal_DataClear2_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_InfraredAuth">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_InfraredAuth" message="tns:IEsamOption_Meter_Formal_InfraredAuth_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_InfraredAuthResponse" message="tns:IEsamOption_Meter_Formal_InfraredAuth_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_InfraredAuthEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_Formal_InfraredAuth_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_MacCheck">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_MacCheck" message="tns:IEsamOption_Meter_Formal_MacCheck_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_MacCheckResponse" message="tns:IEsamOption_Meter_Formal_MacCheck_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_MacCheckEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_Formal_MacCheck_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_EncMacWrite">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_EncMacWrite" message="tns:IEsamOption_Meter_Formal_EncMacWrite_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_EncMacWriteResponse" message="tns:IEsamOption_Meter_Formal_EncMacWrite_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_EncMacWriteEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_Formal_EncMacWrite_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_MacWrite">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_MacWrite" message="tns:IEsamOption_Meter_Formal_MacWrite_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_MacWriteResponse" message="tns:IEsamOption_Meter_Formal_MacWrite_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_MacWriteEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_Formal_MacWrite_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_EncForCompare">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_EncForCompare" message="tns:IEsamOption_Meter_Formal_EncForCompare_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_EncForCompareResponse" message="tns:IEsamOption_Meter_Formal_EncForCompare_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_EncForCompareEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_Formal_EncForCompare_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_DecreasePurse">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_DecreasePurse" message="tns:IEsamOption_Meter_Formal_DecreasePurse_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_DecreasePurseResponse" message="tns:IEsamOption_Meter_Formal_DecreasePurse_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_DecreasePurseEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_Formal_DecreasePurse_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_Preset_Card">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_Preset_Card" message="tns:IEsamOption_Meter_Formal_Preset_Card_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_Preset_CardResponse" message="tns:IEsamOption_Meter_Formal_Preset_Card_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_Formal_Preset_CardEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_Formal_Preset_Card_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meter_ReadPreset_Card">
      <wsdl:input wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_ReadPreset_Card" message="tns:IEsamOption_Meter_ReadPreset_Card_InputMessage" />
      <wsdl:output wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_ReadPreset_CardResponse" message="tns:IEsamOption_Meter_ReadPreset_Card_OutputMessage" />
      <wsdl:fault wsaw:Action="htpp://gwkm.com/IEsamOption/Meter_ReadPreset_CardEsamExceptionFault" name="EsamExceptionFault" message="tns:IEsamOption_Meter_ReadPreset_Card_EsamExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>