iMeter.Core/Service References/Esam645Service/EsamService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EsamOptionContrancts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EsamException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EsamException" nillable="true" type="tns:EsamException" />
  <xs:complexType name="IdentityAuthenticationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutEndata" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutRand" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdentityAuthenticationData" nillable="true" type="tns:IdentityAuthenticationData" />
  <xs:complexType name="MacData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MacData" nillable="true" type="tns:MacData" />
  <xs:complexType name="InCreasePurseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuyCount" type="xs:int" />
      <xs:element minOccurs="0" name="BuyMoney" type="xs:decimal" />
      <xs:element minOccurs="0" name="DataValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAC1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAC2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InCreasePurseData" nillable="true" type="tns:InCreasePurseData" />
  <xs:complexType name="InintPurseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAC1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAC2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrepayMoney" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InintPurseData" nillable="true" type="tns:InintPurseData" />
  <xs:complexType name="EncMacWrite">
    <xs:sequence>
      <xs:element minOccurs="0" name="Endata" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncMacWrite" nillable="true" type="tns:EncMacWrite" />
  <xs:complexType name="ReadPresetCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutData1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutData2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutData3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutData4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutData5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadPresetCard" nillable="true" type="tns:ReadPresetCard" />
</xs:schema>