iMeter.Core/Service References/Esam645Service/EsamOptionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="htpp://gwkm.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EsamOptionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wsEsamService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="htpp://gwkm.com" location="http://219.134.129.206:2004/EsamService?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="wsEsamService" type="i0:IEsamOption">
    <wsp:PolicyReference URI="#wsEsamService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connection">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Connection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOpenedDevice">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/IsOpenedDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectDevice">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/ConnectDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OpenDevice">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/OpenDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CloseDevice">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/CloseDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Tools_CreateRand">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Tools_CreateRand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_IdentityAuthentication">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_IdentityAuthentication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_UserControl">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_UserControl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_ParameterUpdate">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_ParameterUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_ParameterUpdate1">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_ParameterUpdate1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_ParameterUpdate2">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_ParameterUpdate2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_ParameterElseUpdate">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_ParameterElseUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_InCreasePurse">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_InCreasePurse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_InintPurse">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_InintPurse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_DataClear1">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_DataClear1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_DataClear2">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_DataClear2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_InfraredAuth">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_InfraredAuth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_MacCheck">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_MacCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_EncMacWrite">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_EncMacWrite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_MacWrite">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_MacWrite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_EncForCompare">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_EncForCompare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_DecreasePurse">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_DecreasePurse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_Formal_Preset_Card">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_Formal_Preset_Card" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Meter_ReadPreset_Card">
      <soap12:operation soapAction="htpp://gwkm.com/IEsamOption/Meter_ReadPreset_Card" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EsamExceptionFault">
        <soap12:fault use="literal" name="EsamExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EsamOptionService">
    <wsdl:port name="wsEsamService" binding="tns:wsEsamService">
      <soap12:address location="http://219.134.129.206:2004/EsamService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://219.134.129.206:2004/EsamService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>